<div class="alert {{main.messageClass}}" ng-show="main.message">{{main.message}}</div>    
<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <h2>My Projects</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">
                    <form name="createProjectForm" class="py-2">
                        <div class="form-row">
                            <div class="col">
                                <input type="text" name="Projectname" id="Projectname" ng-model="main.newProject.name"
                                    class="form-control" placeholder="Name of new project..." required>
                            </div>
                            <button type="submit" class="btn btn-primary mx-1"
                                ng-click="main.createNewProject(main.newProject)" ng-disabled="createProjectForm.$invalid">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </form>
                </li>
                <li class="list-group-item bg-light" ng-repeat="project in main.projects" ng-cloak>
                    <div class="row">
                        <div class="col-8 d-flex">
                            <a href="#project_{{project.Pid}}" class="mr-auto" 
                                data-toggle="collapse" role="button" aria-expanded="false" aria-controls="project_{{project.Pid}}">
                                <strong>{{project.Name}}</strong>
                            </a>
                        </div>
                        <div class="col-4">
                            <div class="progress">
                                <div class="progress-bar bg-success text-dark" ng-style="{'width': project.Progress + '%'}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-12 d-flex">
                            <button class="btn btn-danger btn-sm ml-auto" ng-click="main.deleteProject(project)">
                                <i class="fas fa-trash-alt"></i> Remove
                            </button>  
                        </div>
                    </div>
                    
                    <!-- Todos -->
                    <div class="collapse" id="project_{{project.Pid}}">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-info">
                                <form name="editProjectForm">
                                    <div class="form-row">
                                        <div class="col">
                                            <input type="text" name="todoText" id="todoText" class="form-control" placeholder="new todo here..." 
                                                ng-model="project.newTodo.Text" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm mx-1"
                                            ng-click="main.createTodo(project, project.newTodo)" ng-disabled="editProjectForm.$invalid">
                                            <i class="fas fa-plus"></i> New
                                        </button>                            
                                    </div>
                                </form>
                            </li>
                            <li class="list-group-item list-group-item-info" ng-repeat="todo in project.todos">
                                <div class="row">
                                    <div class="col-9 pb-2" 
                                        ng-if="todo.Status != 'Complete'">
                                        <a style="text-decoration: none; cursor: pointer;"
                                            ng-click="main.checkTodo(todo)"> 
                                            {{todo.Text}}
                                        </a>
                                    </div>
                                    <div class="col-9 pb-2" 
                                        ng-if="todo.Status == 'Complete'">
                                        <del><a style="text-decoration: none; cursor: pointer;"
                                            ng-click="main.uncheckTodo(todo)">
                                            {{todo.Text}}
                                        </a></del>
                                    </div>
                                    <div class="col-3 d-flex">
                                        <button class="btn btn-danger btn-sm ml-auto" ng-click="main.deleteTodo(project, todo)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
