<!DOCTYPE html>
<html>
  <head>
    <title>Todo App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1>Login or Register</h1>
      <a href="/login">Login</a>
      <a href="/signup">Sign-up</a>
    </div>
  </body>
</html>
