<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1 class="red">Login</h1>
      <form action="/login" method="post">
          <input type="email" name="Email">
          <input type="password" name="Password">
          <input type="submit" name="submit" value="Login">
      </form>
      <p>Not registered ? <a href="/signup">signup now</a></p>
      <form action="/login" method="post">
        <input type="hidden" name="Email" value="sp@m">
        <input type="hidden" name="Password" value="test">
        <input type="submit" value="Login as Guest">
      </form>
    </div>
  </body>
</html>
