<!DOCTYPE html>
<html>
  <head>
    <title>Sign-up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1>Sign-up</h1>
      <small><%= message %></small>
      <form action="/signup" method="post">
          <input type="email" name="email">
          <input type="password" name="password">
          <input type="text" name="role" value="Standard">
          <input type="text" name="firstname" value="default-firstname">
          <input type="text" name="lastname" value="default-lastname">
          <input type="submit" name="submit" value="sign-up">
      </form>
      <p>Already have an account ? <a href="/login">login now</a></p>
    </div>
  </body>
</html>
