<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>HTML</title>
</head>
<body ng-app="meantodo" ng-controller="masterController as master">
    <nav>
        <a href="/">HOME</a>
        <a href="" ng-click="master.logout()" ng-show="master.isLoggedIn">Logout</a>
    </nav>
    <div ng-controller="loginController as login" ng-if="!master.isLoggedIn">
        <small ng-if="login.message">
            {{login.message}}
        </small>        
        <form ng-submit="login.submit()">
            <h1>{{login.userIsLoggingIn && "Login" || "Signup"}}</h1>
            <div>
                <label for="email">Email: </label>
                <input type="email" name="email" ng-model="login.user.email">
            </div>
            <div>
                <label for="Password">Password: </label>
                <input type="password" name="password" ng-model="login.user.password">
            </div>
            
            <!-- display on signing up -->
            <div ng-show="!login.userIsLoggingIn">
                <div>
                    <label for="firstname">Firstname: </label>
                    <input type="text" name="firstname" ng-model="login.user.firstname">
                </div>
                <div>
                    <label for="lastname">Lastname: </label>
                    <input type="text" name="lastname" ng-model="login.user.lastname">
                </div>
            </div>
            
            
            <button type="submit">
                {{login.userIsLoggingIn && "Login" || "Sign-up"}}
            </button>
            <a href="" ng-click="login.changeState()">
                {{login.userIsLoggingIn && "Create a new account" || "Login as existing user"}}
            </a>
        </form>
    </div>

    <div ng-controller="mainController as main" ng-if="master.isLoggedIn">
        <h1>Welcome {{main.user.Firstname}} {{main.user.Lastname}}</h1>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
    <!-- build:js app.min.js -->
    <script type="text/javascript" src="javascripts/app.js"></script>
    <script type="text/javascript" src="javascripts/login/loginController.js"></script>
    <script type="text/javascript" src="javascripts/login/userService.js"></script>
    <script type="text/javascript" src="javascripts/main/mainController.js"></script>
    <script type="text/javascript" src="javascripts/custom.js"></script>
    <!-- endbuild -->
</body>
</html>