<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1>Profile</h1>
      <p>Welcome <%= user.Firstname %> <%= user.Lastname %></p>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
